<div class="w-full flex flex-col items-center">
  <h1 class="text-4xl">Angular Todo-List</h1>
  <h4 class="text-xl italic">By Jeffrey Wolff</h4>

  <div class="py-5 flex flex-col items-center">
    <div class="bg-green-500 rounded p-2 my-2 transform duration-150 hover:scale-105">
      <button (click)="addTask()">Add Task</button>
    </div>
    <div class="bg-red-500 rounded p-2 transform duration-150 hover:scale-105">
      <button class="" (click)="removeAllTasks()">Remove All</button>
    </div>
  </div>
  

  <div class="bg-gradient-to-br from-red-500 to-pink-500 rounded-lg flex flex-col space-between p-3 my-4 transform duration-150 hover:scale-110" *ngFor="let task of taskList; let i = index">

    <div class="my-2">
      <span class="text-lg">Task number:</span> {{i +1}}

      <span class="float-right">
        <button (click)='removeTask(i)'><i class="fas fa-trash-alt"></i></button>
      </span>
    </div>


    <div class="my-2">
      <span class=""> Title:</span> <br>
      <input class="rounded-lg border-0" [(ngModel)]="task.title" type="text">
    </div>

    <div class="my-2">
      <span class=""> Description:</span> <br>
      <input class="rounded-lg border-0" [(ngModel)]="task.description" type="text">
    </div>

    <div class="flex flex-row items-center">
        <input class="mx-1 rounded" type="checkbox" value="" id="flexCheckDefault">
        <p class=""> Done </p> 
        
    </div>

  </div>

</div>